{erl_opts, [debug_info]}.
{deps, [
    {mapreduce, {git, "git@github.com:dawids21/erlang-mapreduce.git", {branch, "err-det50"}}}
]}.

{sys_config_src, "./config/sys.dev.config.src"}.
{vm_args_src, "./config/vm.dev.args.src"}.

{ct_opts, [
    {sys_config, ["./config/sys.test.config"]}
]}.

{relx, [
    {release, {mapreduce_wordcount, "0.1.0"}, [
        mapreduce_wordcount,
        mapreduce
    ]},

    {mode, dev},
    {sys_config_src, "./config/sys.dev.config.src"},
    {vm_args_src, "./config/vm.dev.args.src"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config_src, "./config/sys.prod.config.src"},
            {vm_args_src, "./config/vm.prod.args.src"}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
