[
    {mapreduce_wordcount, []},
    {mapreduce, [
        {known_nodes, "nonode@nohost"},
        {node_directory, "/tmp/erlang-mapreduce"},
        {public_directory, "/tmp/erlang-mapreduce-test-public"},
        {processing_power_multiplier, "1"}
    ]},
    {kernel, [
        {logger_level, info}
    ]}
].