[
    {mapreduce_wordcount, []},
    {mapreduce, [
        {known_nodes, "first@localhost,second@localhost,third@localhost"},
        {node_directory, "/tmp"},
        {public_directory, "/public"},
        {processing_power_multiplier, "1"},
        {inject_exception, false}
    ]},
    {kernel, [
        {logger_level, info}
    ]}
].
