[
    {mapreduce_wordcount, []},
    {mapreduce, [
        {known_nodes, ['dap-project-node@localhost', 'second@localhost', 'third@localhost']},
        {node_directory, "/home/dawid/Projects/erlang-mapreduce-wordcount/tmp/erlang-mapreduce"},
        {public_directory, "/home/dawid/Projects/erlang-mapreduce-wordcount/tmp/erlang-mapreduce-public"}
    ]}
].
