[
    {mapreduce_wordcount, []},
    {mapreduce, [
        {known_nodes, "first@localhost,second@localhost,third@localhost"},
        {node_directory, "/tmp"},
        {public_directory, "/public"}
    ]},
    {kernel, [
        {logger_level, info}
    ]}
].
